!DOCTYPE html
header{
   background-color: rgb(2, 17, 39);
   color:rgb(0, 255, 255);
   text-align: center;
}
main{
   background-color: rgb(245, 241, 237);
   color: rgb(255, 4, 4);
   text-align: center;
}
